@import "tailwindcss";

/* Enable class-based dark mode */
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #09090b;
  /* zinc-950 */
  --foreground: #ffffff;
  /* pure white */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}

@keyframes gradient-xy {

  0%,
  100% {
    background-position: 0% 50%;
    background-size: 400% 400%;
  }

  50% {
    background-position: 100% 50%;
    background-size: 400% 400%;
  }
}

.animate-gradient-xy {
  animation: gradient-xy 15s ease infinite;
}